server {
    listen 127.0.0.1:8080;
    server_name example.com;

    client_max_body_size 10M;

    error_page 404 ./www/error_pages/404.html;
    error_page 500 ./www/error_pages/500.html;
    error_page 504 ./www/error_pages/504.html;

    location / {
        root ./www;
        index index.html;
        autoindex on;
        methods GET;
    }

    location /uploads {
        root ./www;
        autoindex on;
        methods GET;
    }

    location /upload {
        root ./www;
        methods POST;
        upload_path ./www/uploads;
    }

    location /cgi {
        root ./www/cgi-bin;
        methods GET POST;

        cgi_extensions
            .py /usr/bin/python3
            .php /usr/bin/php-cgi
            .sh /bin/bash;
    }

    location /slow {
        root ./www/cgi-bin;
        methods GET;

        cgi_extensions
            .py /usr/bin/python3;
    }

    location /old {
        return 301 /;
    }

    location /google {
        return 302 https://www.google.com;
    }

    location /error {
        return 500;
    }
}

server {
    listen 127.0.0.1:8081;
    server_name site1.local;

    location / {
        root ./www/servers/site1;
        index index.html;
        autoindex off;
        methods GET;
    }
}

server {
    listen 127.0.0.1:8082;
    server_name site2.local;

    location / {
        root ./www/servers/site2;
        index index.html;
        autoindex off;
        methods GET;
    }
}
